@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* header */
.header {
	margin-bottom: 2.4rem;
	/* flex */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.heading {
	font-size: 5.4rem;
	font-weight: 700;
	color: #fff;
}

.sun:hover path {
	fill: yellow;
}
.moon:hover path {
	fill: grey;
}
